/Assigment I/Analytical Solution/Assigment I - Analytical Solution.aux
/Assigment I/Analytical Solution/Assigment I - Analytical Solution.fdb_latexmk
/Assigment I/Analytical Solution/Assigment I - Analytical Solution.fls
/Assigment I/Analytical Solution/Assigment I - Analytical Solution.log
/Assigment I/Analytical Solution/Assigment I - Analytical Solution.synctex.gz